
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
   
    @Styles.Render("~/content/css")
    @Styles.Render("~/content/app-sb")
    @Styles.Render("~/Content/font-awsome")
    @Styles.Render("~/Content/persian-datepicker")
    @RenderSection("styles", required: false)
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app-sb")
    @Scripts.Render("~/bundles/metisMenu")
    @Scripts.Render("~/bundles/persian-datepicker")

    
    @RenderSection("scripts", required: false)
    
</head>
<body>
    
    
    <div id="wrapper">
        @Html.Partial("~/Views/Shared/_NavigationBar.cshtml")
  
        <!-- Page Content -->
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>
</body>
</html>
