
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>@ViewBag.Title - سامانه مدیریت کلینیک</title>
    @*<link href="../Content/bootstrap.min.css" rel="stylesheet" />*@
    @Styles.Render("~/content/css")
    <link href="../Content/app-sb.css" rel="stylesheet" />
    <link href="../Content/fonts/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <link href="../Content/app.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    @*<script src="../Scripts/jquery-1.11.0.js"></script>*@
    @*<script src="../Scripts/bootstrap.min.js"></script>*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="../Scripts/metisMenu.min.js"></script>
    <script src="../Scripts/app-sb.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    
    <div id="wrapper">
        @Html.Partial("~/Views/Shared/_NavigationBar.cshtml")
  
        <!-- Page Content -->
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>
</body>
</html>
