@model MentalHealthClinic.Models.Patient

@{
    ViewBag.Title = "حذف بیمار";
}

<h2>حذف بیمار</h2>

<h3>آیا مطمئن هستید؟</h3>
<div>
    <h4>بیمار</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FathersName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FathersName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfFirstReception)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfFirstReception)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthOfFirstReception)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthOfFirstReception)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("بازگشت به فهرست بیماران", "Index")
        </div>
    }
</div>
